


<div id = 'container'>
    <form ng-submit = 'form2Func(signUpInfo2)' name = 'signUp2'>
        
        <ul id = "inputs1">

            <li class = "inputsLi" id = "country">
                <select custom-lable ng-model = 'signUpInfo2.country'  name = 'country' type = 'select' ng-required="true"/>
                    <option ng-repeat = "country in countries" value ={{country}}>{{country}}</option>    
                </select>
            </li>        


            <li class = "inputsLi" id= "city">
                <input custom-lable ng-model = 'signUpInfo2.city'  name = 'city' type = 'text' ng-minlength="2" ng-required="true"/>
            </li>
            

            <li class = "inputsLi" id= "street">
                <input custom-lable ng-model = 'signUpInfo2.street'  name = 'street' type = 'text' ng-minlength="2" ng-required="true" />           
            </li>

            <li class = "inputsLi" id= "name">

                <input custom-lable ng-model = 'signUpInfo2.name'  name = 'name' type = 'text' ng-minlength="2" ng-required="true" />
                <custom-error err-massage = 'errs.name.required' condition = 'signUp2.name.$dirty&&signUp2.name.$error.required'></custom-error>   
                <custom-error err-massage = 'errs.name.minlength' condition = 'signUp2.name.$dirty&&signUp2.name.$error.minlength'></custom-error>

            </li>    


            <li class = "inputsLi" id= "famillyName">

                <input custom-lable ng-model = 'signUpInfo2.famillyName'  name = 'famillyName' type = 'text' ng-minlength="2" ng-required="true" />

                <custom-error err-massage = "errs.famillyName.required" condition ='signUp2.famillyName.$dirty&&signUp2.famillyName.$error.required'></custom-error>

                <custom-error err-massage = "errs.famillyName.minlength" condition = 'signUp2.famillyName.$dirty&&signUp2.famillyName.$error.minlength'></custom-error>

            </li>   
        </ul>


        <input type="submit" value = "submit application" />
    </form>
</div>
    
<h1 ng-show = 'showErr'>
    there has been an error with your sign up procces, please repeat the process by order
</h1>